
<!-- Portfolio Modal-->

<!-- WORKING SECTION  -->
<section class="page-section portfolio" id="professores">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary mb-0 d-inline-block">
        PROFESSORES
      </h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <app-professor-grid></app-professor-grid>
  </div>
</section>
<section
  class="page-section portfolio"
  id="materias"
  style="background-color: #efe9e5;"
>
  <div class="container">
    <!-- About Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary mb-0 d-inline-block">
        MATÉRIAS
      </h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <app-materia-grid></app-materia-grid>
  </div>
</section>

<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary d-inline-block mb-0">
        CONTATO
      </h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Content-->
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-contact mb-3">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="text-muted">Telefone</div>
          <div class="lead font-weight-bold">(11) 94875-0000</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-contact mb-3">
            <i class="far fa-envelope"></i>
          </div>
          <div class="text-muted">Email</div>
          <a
            class="lead font-weight-bold"
            href="mailto:mozart.falcao@outlook.com"
            >mozart.falcao@outlook.com</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0"></div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="mb-4">NA WEB</h4>
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://www.linkedin.com/in/mozart-falc%C3%A3o-14879817/"
          ><i class="fab fa-fw fa-linkedin-in"></i></a
        ><a
          class="btn btn-outline-light btn-social mx-1"
          href="https://github.com/MozartFalcao?tab=repositories"
          ><i class="fab fa-fw fa-github"></i
        ></a>
      </div>
      <!-- Footer About Text-->
      <!-- <div class="col-lg-4">
        <h4 class="mb-4">ABOUT FREELANCER</h4>
        <p class="pre-wrap lead mb-0">
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          Start Bootstrap
        </p>
      </div> -->
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small class="pre-wrap">Copyright © pandemicLabs 2020</small>
  </div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
  <a
    class="js-scroll-trigger d-block text-center text-white rounded"
    href="#page-top"
    ><i class="fa fa-chevron-up"></i
  ></a>
</div>
