<div class="row justify-content-center">
  <div
    class="col-md-6 col-lg-4 mb-5"
    *ngFor="let mate of materiasFire"
  >
    <button type="button" class="btn" (click)="openModal(materia)">
      <div
        class="portfolio-item mx-auto"
        data-toggle="modal"
        [attr.data-target]="'#portfolioModal' + mate.id"
      >
        <div
          class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
        >
          <div class="portfolio-item-caption-content text-center text-white">
            <i>{{ mate.nome }}</i>
          </div>
        </div>
        <img class="img-fluid" src="{{ mate.fotoUrl }}" alt="Log Cabin" />
      </div>
    </button>
    <ng-template #materia>
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title-->
                    <h2 class="portfolio-modal-title text-secondary mb-0">
                      {{ mate.nome }}
                    </h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                      <div class="divider-custom-line"></div>
                      <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Modal - Image-->
                    <img
                      class="img-fluid rounded mb-5"
                      src="{{ mate.fotoUrl }}"
                    />
                    <!-- Portfolio Modal - Text-->
                    <div class="row justify-content-left">
                      <span>Professores:</span>
                      <span *ngFor="let ma of mate.professores"
                        > &nbsp;{{ ma.nome }}  <a> - </a>
                      </span>
                      <p class="mb-5"></p>
                    </div>
                    <button class="btn btn-primary" (click)="modalRef.hide()">
                      <i class="fas fa-times fa-fw"></i>Fechar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
  </div>
</div>
<ng-template #customLoadingTemplate>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ngx-loading
  [show]="loading"
  [config]="{}"
  [template]="customLoadingTemplate"
></ngx-loading>