<div class="row justify-content-center">
  <div
    class="col-md-6 col-lg-4 mb-5"
    *ngFor="let prof of professoresLst.professores"
  >
    <button type="button" class="btn" (click)="openModal(professor)">
      <div
        class="portfolio-item mx-auto"
        data-toggle="modal"
        [attr.data-target]="'#portfolioModal' + prof.id"
      >
        <div
          class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
        >
          <div class="portfolio-item-caption-content text-center text-white">
            <i>{{ prof.nome }}</i>
          </div>
        </div>
        <img class="img-fluid" src="{{ prof.fotoUrl }}" alt="Log Cabin" />
      </div>
    </button>
    <ng-template #professor>
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2 class="portfolio-modal-title text-secondary mb-0">
                    {{ prof.nome }}
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="{{ prof.fotoUrl }}"
                  />
                  <!-- Portfolio Modal - Text-->
                  <div class="row justify-content-left">
                    <span>Email: </span>
                    <span>&nbsp;{{ prof.email }} </span>
                    <br />
                    <span>Telefone: </span>
                    <span>&nbsp;{{ prof.contato }} </span>
                    <br />
                    <span>Matérias lecionadas:</span>
                    <span *ngFor="let ma of prof.materia"
                      >&nbsp;{{ ma.nome }}<a> - </a> 
                    </span>
                    <p class="mb-5"></p>
                  </div>
                  <button class="btn btn-primary" (click)="modalRef.hide()">
                    <i class="fas fa-times fa-fw"></i>Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
